<style>
    .error {
    color: red;
    border: 2px solid red;
}
    .success {
    color: limegreen;
    border: 2px solid limegreen;
}

</style>

{% extends "base.html"%}

{%block content%}

</br></br></br></br>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
</br>

<p>Ankete katıldığınız için teşekkür ederim...</p>

<p>Başarılar ve sağlıklı günler... </p>

<div class="shadow p-3 mb-5 bg-body rounded">
  <form method="POST">
      <table style="width:100%", id="mytable">
      {{form.hidden_tag()}}
      
      <tr><td>{{form.soru1.label(class="form-label")}}</td></tr>
      <tr><td><b>Online veya yüzyüze eğitimlerde, eğitmeniniz dersin ana kısımları arasında (20-30 dakikadada bir) dersin gidişatı veya işlenen konuya ilgi seviyeniz ile ilgili 1-2 soruluk bir anket yapar ise bu sizi nasıl etkiler?</b></td></tr>
      <tr><td>{{form.soru1(class="form-control")}}</td></tr>
      <tr><td>&nbsp&nbsp</td> </tr>
      
      <tr><td>{{form.soru2.label(class="form-label")}}</td></tr>
      <tr><td><b>Online olarak aldığınız derslerinizde eğitmenleriniz online sistem üzerinden (Breakout Rooms vb.) sınıf arkadaşlarınız ile grup çalışmaları / öğrenme aktiviteleri organize ediyor mu?- LÜTFEN TEK BİR DERS İÇİN DEĞİL GENEL OLARAK ALDIĞINIZ ONLINE TÜM EĞİTİMLERİ DÜŞÜNEREK YANITLAYINIZ </b></td></tr>
      <tr><td>{{form.soru2(class="form-control")}}</td></tr>
      <tr><td>&nbsp&nbsp</td> </tr>

      <tr><td>{{form.soru3.label(class="form-label")}}</td></tr>
      <tr><td><b>Online olarak aldığınız derslerinizde, online sistem üzerinden organize edilen (Breakout Rooms vb.) ve sınıf arkadaşlarınız ile grup çalışmaları yapmanıza imkan veren uygulamaların faydalı olduğunu düşünüyor musunuz? - BU GİBİ ÇALIŞMALARA KATILMADIYSANIZ LÜTFEN YİNE DE FİKRİNİZİ İLETİNİZ</b></td></tr>
      <tr><td>{{form.soru3(class="form-control")}}</td></tr>
      <tr><td></td></tr>
      <tr><td>{{form.submit(class="btn btn-outline-primary")}}</td></tr>
      
      </table>
    </form>
    </div>

    


{%endblock%} 
